.cart {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin: 30px;

  .buttonCardContainer {
    position: absolute;
    cursor: pointer;
    z-index: 2;

    .buttonCard {
      background-color: #222222;
      width: 65px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
    }

    .productsNumber {
      height: 25px;
      width: 25px;
      border-radius: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fb3939;
      color: #F0F0F0;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .openCart {
    position: absolute;
    border-radius: 30px;
    width: 300px;
    background-color: #222222;
    color: white;

    h2 {
      text-align: center;
      font-weight: bold;
      margin-top: 35px;
      margin-bottom: 20px;
    }

    .emptyCart {
      text-align: center;
      margin-top: 5px;
      font-size: 14px;
    }

    .total {
      text-align: center;
      font-weight: bold;
      margin-top: 15px;
    }

    .productsContainer{
      height: 200px;
      overflow-y: scroll;
    }
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
}

@media screen and (min-width: 993px) {
  .buttonCardContainer {
    margin-right: 60px;
  }
  .openCart {
    margin-right: 50px;
  }
}

@media screen and (max-width: 992px) {
  .buttonCardContainer {
    margin-right: 40px;
  }
  .openCart {
    margin-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .buttonCardContainer {
    margin-right: 20px;
  }
  .openCart {
    margin-right: 10px;
  }
}
